@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&display=swap');
.image5 {
    background: rgba(0, 0, 0, 0.7) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
  }
.C-center{
    display: grid;
    place-items: center;
    height: 100vh;
    word-wrap: break-word;
}
  .Contact-container{
    display: flex;
    justify-content: center;
    margin-bottom: 0.8em;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: red;
    font-size: 1.8em;
    font-weight: 600;
  }
  .C-container{
      background-color: rgba(49, 49, 235, 0.774);
      padding: 2em 4em 2em 2em;
      margin: 5px;
      border-radius: 10px;
      line-height:2em;
      margin-top: 0px;
      color: #fff;
      font-family: 'Merriweather', serif;
      max-width: 600px;
  }

  

  .C-title{
      display: flex;
      justify-content: center;
  }

  .C-font{
      font-size: 1.2em;
      font-family: 'Roboto', sans-serif;
      
  }

  .C-mail{
    display: flex;
    grid-template-columns: 1fr;
    /* grid-gap: 20px; */
    gap: 20px;
    justify-content: space-between;
    margin-top: 1em;
   
  }

  div{
    word-wrap: break-word;
  }

  .C-icon{
      font-size:1.3em;
      margin:0.3em;
  }

  /*title font size*/
.H-font{
    font-size: 2em;
}
/*container position*/
.H-content-position{
   display: grid;
   place-items: center;
   
}

.danger{
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    border-style: none;
}

  @media screen and (min-device-width: 270px) and (max-device-width: 660px) {
    .C-container{
        width: 80%;
        padding: 1em;
        margin: 5px;
        border-radius: 10px;
        line-height:2em;
        
    }
    .C-mail{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-gap: 20px; */
        gap: 20px;
        justify-content:none;
        margin-top: 0em;
      }

      .C-font{
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
        
    }
    .C-center{
        display: grid;
        place-items: center;
        max-width: 400px;
        word-wrap: break-word;
    }
    }
